.container_bill {
    width: 960px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;

}

.spinner {
    margin-left: 50%;
}

.spinner_table {
    margin-left: 30%;
    position: absolute;
    z-index: 9999;
    margin-top: 15%;
}

.input_bootstrap{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:
    #495057;
    background-color:
    #fff;
    background-clip: padding-box;
    border: 1px solid
    #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: visible;
    margin: 0;
    font-family: inherit;
}

.react-datepicker-wrapper{
    display: inline !important;
}

.button-edit{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.form-label{
    font-weight: 540;
}

.m-top {
    margin-top: 15px;
}

.div-center{
    text-align: center;
}

.m-top15{
    margin-top: 15px;
}

.pointer{
    cursor: pointer;
}

