.container_bill {
    width: 960px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;

}

.spinner {
    margin-left: 50%;
}

.spinner_table {
    margin-left: 30%;
    position: absolute;
    z-index: 9999;
    margin-top: 15%;
}

